{{> header}}

    {{> navbar}}
      
    <div class="row">
        <div class="col-8">
            <h1>Acerca De</h1>
        </div>
        <div class="col-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" class="img-thumbnail" />
        </div>
    </div>>

{{> footer}}
